/* sidebar.css */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.dropdown-menu {
  display: none; /* Список спочатку прихований */
  margin-left: 20px;
  padding-left: 10px;
}

.toggle-menu {
  cursor: pointer;
  font-weight: bold;
}

.toggle-menu:hover {
  color: blue;
}
